<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB_Z3GYUN05R7V1ZebN1ltFS7MpRVN2il8</string>
	<key>GCM_SENDER_ID</key>
	<string>773637258020</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hearhere.hearhere</string>
	<key>PROJECT_ID</key>
	<string>geocue-antigravity</string>
	<key>STORAGE_BUCKET</key>
	<string>geocue-antigravity.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:773637258020:ios:d5b48228d0e39008c091b1</string>
	<key>DATABASE_URL</key>
	<string>https://geocue-antigravity-default-rtdb.firebaseio.com</string>
</dict>
</plist>